<!DOCTYPE html>
<html>
<head>
  <title>SAI</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<link href="/assets/icon.ico" rel="shortcut icon" type="image/x-icon" />
</head>
<body>


<%= yield %>
<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert alert-success" %>
  <% end %>


</body>
</html>
